<div [class.align]="true">
  <div>
    <h6>Tokopedia</h6><br>
    <a routerLink="" [class.link]="true">About Tokopedia</a><br>
    <a routerLink="" [class.link]="true">Career</a><br>
    <a routerLink="" [class.link]="true">Blog</a><br>
    <a routerLink="" [class.link]="true">Tokopedia Salam</a><br>
    <a routerLink="" [class.link]="true">Hotel</a><br>
    <a routerLink="" [class.link]="true">Bridestory</a><br>
    <a routerLink="" [class.link]="true">Parentstory</a><br>
    <a routerLink="" [class.link]="true">Tokopedia Dictionary</a><br>
    <a routerLink="" [class.link]="true">Official Store</a><br>
    <a routerLink="" [class.link]="true">Billing & Top up</a><br>
    <a routerLink="" [class.link]="true">Deals Tokopedia</a><br>
    <a routerLink="" [class.link]="true">Finance</a><br>
    <a routerLink="" [class.link]="true">Free Shipping</a><br>
    <a routerLink="" [class.link]="true">Trade In Handphone</a><br>
    <a routerLink="" [class.link]="true">Umroh Package</a><br>
    <a routerLink="" [class.link]="true">Alquran Online</a><br>
    <a routerLink="" [class.link]="true">Tokopedia Print</a><br>
    <a routerLink="" [class.link]="true">Promo Waktu Indonesia Belanja</a><br>
    <a routerLink="" [class.link]="true">Qurban</a>
  </div>
  <div>
    <div>
      <h6>Buy</h6><br>
      <a routerLink="" [class.link]="true">Train Ticket</a><br>
      <a routerLink="" [class.link]="true">Flight Ticket</a><br>
      <a routerLink="" [class.link]="true">Ticket Events</a><br>
      <a routerLink="" [class.link]="true">Hotlist</a><br>
      <a routerLink="" [class.link]="true">Category</a>
    </div>
    <div>
      <h6 [class.footer-category]="true">Sell</h6><br>
      <a routerLink="" [class.link]="true">Seller Education Centre</a><br>
      <a routerLink="" [class.link]="true">Mitra Toppers</a><br>
      <a routerLink="" [class.link]="true">Register Official Store</a>
    </div>
  </div>
  <div>
    <div>
      <h6>Guide and Help</h6><br>
      <a routerLink="" [class.link]="true">Tokopedia Care</a><br>
      <a routerLink="" [class.link]="true">Terms and Condition</a><br>
      <a routerLink="" [class.link]="true">Privacy</a>
    </div>
    <div>
      <h6 [class.footer-category]="true">Security</h6><br>
    </div>
    <div>
      <h6 [class.footer-category]="true">Follow Us</h6><br>
      <div [class.social-media]="true">
        <a href="https://www.facebook.com/tokopedia" [class.social-media-logo]="true">
          <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/90f8d7cf.svg" alt="Facebook"><br>
        </a>
        <a href="https://www.twitter.com/tokopedia" [class.social-media-logo]="true">
          <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/bb6967ee.svg" alt="Twitter"><br>
        </a>
        <a href="https://www.pinterest.com/tokopedia" [class.social-media-logo]="true">
          <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/c6c3a108.svg" alt="Pinterest"><br>
        </a>
        <a href="https://www.instagram.com/tokopedia" [class.social-media-logo]="true">
          <img src="https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/6bbf7298.svg" alt="Instagram"><br>
        </a>
      </div>
    </div>
  </div>
  <div>
    <img src="https://i.ibb.co/GTRJNTx/Screenshot-2020-07-15-14-27-10.png" alt="download tokopedia">
    <p [class.production]="true">© 2019 - 2020, PT. Tokopedia. Server process time: 0.040 sec</p>
    <img [class.language-switcher]="true" src="https://i.ibb.co/gzZ7LyQ/Screenshot-2020-07-15-14-50-58.png" alt="language switcher">
  </div>
</div>